server/services/ediSacha/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Pascal LEBRET (PHYLUM) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>Acquittement/Non-acquittement</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="AcquittementNonAcquittement">
		<xsd:sequence>
			<xsd:element name="MessageParametres" type="MessageParametres"/>
			<xsd:element name="Emetteur" type="DialoguePartenaire"/>
			<xsd:element name="Destinataire" type="DialoguePartenaire"/>
			<xsd:sequence>
				<xsd:element name="MessageAcquittement" type="MessageAcquittement" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="MessageNonAcquittement" type="MessageNonAcquittement" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AcquittementNonAcquittement">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AcquittementNonAcquittement">
					<xsd:attribute name="schemavalidation" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Demandes Analyses</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="DemandesAnalyses">
		<xsd:sequence>
			<xsd:element name="MessageParametres" type="MessageParametres"/>
			<xsd:element name="Emetteur" type="DialoguePartenaire"/>
			<xsd:element name="Destinataire" type="DialoguePartenaire"/>
			<xsd:sequence>
				<xsd:element name="DemandeType" type="DemandeType"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DemandeType">
		<xsd:sequence>
			<xsd:element name="DialogueDemandeIntervention" type="DialogueDemandeIntervention"/>
			<xsd:sequence>
				<xsd:element name="DialogueCommemoratif" type="DialogueCommemoratif" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ReferenceEtablissementType" type="ReferenceEtablissementType"/>
				<xsd:element name="DialogueActeurType" type="DialogueActeurType"/>
				<xsd:element name="DialogueEchantillonCommemoratifType" type="DialogueEchantillonCommemoratifType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialoguePrevisionnelEchantillon" type="DialoguePrevisionnelEchantillon" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ReferencePlanAnalyseType" type="ReferencePlanAnalyseType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialogueAnalyseType" type="DialogueAnalyseType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceEtablissementType">
		<xsd:sequence>
			<xsd:element name="ReferenceEtablissement" type="ReferenceEtablissement"/>
			<xsd:sequence>
				<xsd:element name="DialogueCommemoratif" type="DialogueCommemoratif" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ReferenceAtelierType" type="ReferenceAtelierType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceAtelierType">
		<xsd:sequence>
			<xsd:element name="ReferenceAtelier" type="ReferenceEtablissement"/>
			<xsd:sequence>
				<xsd:element name="DialogueCommemoratif" type="DialogueCommemoratif" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueActeurType">
		<xsd:sequence>
			<xsd:element name="DialogueActeur" type="DialogueActeur"/>
			<xsd:sequence>
				<xsd:element name="DialogueActeurRessource" type="DialogueActeurRessource" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueEchantillonCommemoratifType">
		<xsd:sequence>
			<xsd:element name="DialogueEchantillonComplet" type="DialogueEchantillonComplet"/>
			<xsd:sequence>
				<xsd:element name="DialogueCommemoratif" type="DialogueCommemoratif" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencePlanAnalyseType">
		<xsd:sequence>
			<xsd:element name="ReferencePlanAnalyseEffectuer" type="ReferencePlanAnalyseEffectuer" maxOccurs="unbounded"/>
			<xsd:sequence>
				<xsd:element name="ReferencePlanAnalyseContenu" type="ReferencePlanAnalyseContenu" maxOccurs="unbounded"/>
				<xsd:element name="DialogueEchantillonSimple" type="DialogueEchantillonSimple" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueAnalyseType">
		<xsd:sequence>
			<xsd:element name="DialogueAnalyse" type="DialogueAnalyse"/>
			<xsd:element name="DialogueEchantillonSimple" type="DialogueEchantillonSimple" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DemandesAnalyses">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DemandesAnalyses">
					<xsd:attribute name="schemavalidation" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:annotation>
		<xsd:documentation>Dialogue Demande De Demande</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="DemandesDeDemande">
		<xsd:sequence>
			<xsd:element name="MessageParametres" type="MessageParametres"/>
			<xsd:element name="Emetteur" type="DialoguePartenaire"/>
			<xsd:element name="Destinataire" type="DialoguePartenaire"/>
			<xsd:sequence>
				<xsd:element name="DialogueDemandeDeDemande" type="DialogueDemandeDeDemande" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DemandesDeDemande">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DemandesDeDemande">
					<xsd:attribute name="schemavalidation" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DialogueActeurRessource">
		<xsd:annotation>
			<xsd:documentation>Dialogue Acteur Ressource</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroIdentifiant">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Initiales" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telephone" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueActeur">
		<xsd:annotation>
			<xsd:documentation>DialogueActeur</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SigleIdentifiant">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nom">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Adresse1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Adresse2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Adresse3" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BoitePostale" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodePostal" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telephone" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Fax" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Pays" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueAnalyse">
		<xsd:annotation>
			<xsd:documentation>DialogueAnalyse</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SigleMatriceSpecifique">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleAnalyte">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleMethodeSpecifique">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueCommemoratif">
		<xsd:annotation>
			<xsd:documentation>DialogueCommemoratif</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TexteValeur" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleValeur" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueDemandeDeDemande">
		<xsd:annotation>
			<xsd:documentation>Dialogue Demande De Demande</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroDAP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueDemandeIntervention">
		<xsd:annotation>
			<xsd:documentation>Dialogue Demande Intervention</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroDAP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleContexteIntervention">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateIntervention">
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2150-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateModification">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1900-01-01T00:00:00"/>
						<xsd:maxInclusive value="2150-01-01T00:00:00"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueEchantillonComplet">
		<xsd:annotation>
			<xsd:documentation>DialogueEchantillonComplet</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroEchantillon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="9999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleMatriceSpecifique">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroIdentificationExterne" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IdentifiantLabo" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroLot" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroEtiquette" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="28"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateRealisationPrelevement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2150-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleMotifNonAnalysabilite" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueEchantillonSimple">
		<xsd:annotation>
			<xsd:documentation>Dialogue Echantillon Simple</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroEchantillon">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="9999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialoguePartenaire">
		<xsd:annotation>
			<xsd:documentation>Dialogue Partenaire</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nom" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telephone" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibellePartenaire">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EmailPartenaire">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialoguePrevisionnelEchantillon">
		<xsd:annotation>
			<xsd:documentation>Dialogue Previsionnel Echantillon</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SigleMatriceSpecifique">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nombre">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueResultatEchantillonAnalyse">
		<xsd:annotation>
			<xsd:documentation>Dialogue Resultat Echantillon Analyse</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IdentifiantLabo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroDossierLIMS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IndicateurAnalyseConfirmation" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OperateurResultatQuantitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
						<xsd:pattern value="(&gt;&gt;|&gt;|&gt;=|=|&lt;=|&lt;|&lt;&lt;|&lt;&gt;|ne)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ValeurResultatQuantitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleValeurResultatQualitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleUnite" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleConclusionElementaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleLaboratoireSousTraitant" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateValidation">
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2150-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IncertitudePourcentage" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IncertitudeMini" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IncertitudeMaxi" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueResultatEchantillonPlan">
		<xsd:annotation>
			<xsd:documentation>Dialogue Resultat Echantillon Plan</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IdentifiantLabo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleConclusion">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueResultatLotAnalyse">
		<xsd:annotation>
			<xsd:documentation>Dialogue Resultat Lot Analyse</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroLot">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="2"/>
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleConclusion">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueResultatLotPlan">
		<xsd:annotation>
			<xsd:documentation>Dialogue Resultat Lot Plan</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroLot">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="2"/>
						<xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="99"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleConclusion">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueRetourInterventionAvecDAP">
		<xsd:annotation>
			<xsd:documentation>Dialogue Retour Intervention Avec DAP</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumeroDAP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleTypeIdentifiantActeur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IdentifiantActeur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateInterventionReelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2150-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IndicateurPrelevementPartiel">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(C|P|F)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DossierComplet">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueRetourInterventionSansDAP">
		<xsd:annotation>
			<xsd:documentation>Dialogue Retour Intervention Sans DAP </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SigleTypeIdentifiantActeur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IdentifiantActeur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateInterventionReelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2150-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleTypeIdentifiantEtablissement">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IdentifiantEtablissement">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleTypeIdentifiantAtelier" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IdentifiantAtelier" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleContexteIntervention">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IndicateurPrelevementPartiel">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(C|P|F)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DossierComplet">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Donnees Standardisees</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="DonneesStandardisees">
		<xsd:sequence>
			<xsd:element name="MessageParametres" type="MessageParametres"/>
			<xsd:element name="ReferenceMatricesType" type="ReferenceMatricesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceAnalytesType" type="ReferenceAnalytesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceMethodesType" type="ReferenceMethodesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceUnites" type="ReferenceUnites" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceValeursInterpretation" type="ReferenceValeursInterpretation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceValeursPossiblesResultat" type="ReferenceValeursPossiblesResultat" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceCausesNonAnalysibilite" type="ReferenceCausesNonAnalysibilite" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceCommemoratifType" type="ReferenceCommemoratifType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceMatricesType">
		<xsd:sequence>
			<xsd:element name="ReferenceMatricesGeneriques" type="ReferenceMatrices"/>
			<xsd:sequence>
				<xsd:element name="ReferenceMatricesSpecifiques" type="ReferenceMatrices" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceAnalytesType">
		<xsd:sequence>
			<xsd:element name="ReferenceAnalytesGeneriques" type="ReferenceAnalytes"/>
			<xsd:sequence>
				<xsd:element name="ReferenceAnalytesSpecifiques" type="ReferenceAnalytes" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceMethodesType">
		<xsd:sequence>
			<xsd:element name="ReferenceMethodesGeneriques" type="ReferenceMethodes"/>
			<xsd:sequence>
				<xsd:element name="ReferenceMethodesSpecifiques" type="ReferenceMethodes" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceCommemoratifType">
		<xsd:sequence>
			<xsd:element name="ReferenceCommemoratif" type="ReferenceCommemoratifs"/>
			<xsd:sequence>
				<xsd:element name="ReferenceCommemoratifsValeurs" type="ReferenceCommemoratifsValeurs" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="DonneesStandardisees">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DonneesStandardisees">
					<xsd:attribute name="schemavalidation" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MessageAcquittement">
		<xsd:annotation>
			<xsd:documentation>MessageAcquittement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NomFichier">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateAcquittement">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1900-01-01T00:00:00"/>
						<xsd:maxInclusive value="2150-01-01T00:00:00"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageNonAcquittement">
		<xsd:annotation>
			<xsd:documentation>Message Non Acquittement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NomFichier">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleMotif">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TypeMotif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateNonAcquittement">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1900-01-01T00:00:00"/>
						<xsd:maxInclusive value="2150-01-01T00:00:00"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageParametres">
		<xsd:annotation>
			<xsd:documentation>Message Parametres</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodeScenario">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VersionScenario">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TypeFichier">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NomFichier">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VersionReferenceStandardisees" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VersionReferencePrescripteur" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NomLogicielCreation">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VersionLogicielCreation">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodeReferentielPrescripteur" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceAnalytes">
		<xsd:annotation>
			<xsd:documentation>ReferenceAnalytes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|S)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleFamille">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleMaladie" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceCausesNonAnalysibilite">
		<xsd:annotation>
			<xsd:documentation>Reference Causes Non Analysibilite</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceCommemoratifsATransmettre">
		<xsd:annotation>
			<xsd:documentation>Refernce Commémoratifs A Transmettre</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SigleCommemoratif">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceCommemoratifsValeurs">
		<xsd:annotation>
			<xsd:documentation>ReferenceCommemoratifsValeurs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceCommemoratifs">
		<xsd:annotation>
			<xsd:documentation>ReferenceCommemoratifs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Unite" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TypeDonnee">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(V|N|A|D)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceContextesIntervention">
		<xsd:annotation>
			<xsd:documentation>Refernce Contextes Intervention</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateModification">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1900-01-01T00:00:00"/>
						<xsd:maxInclusive value="2150-01-01T00:00:00"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceEtablissement">
		<xsd:annotation>
			<xsd:documentation>ReferenceEtablissement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SigleIdentifiant">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nom">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Adresse1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Adresse2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Adresse3" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BoitePostale" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodePostal" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Telephone" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Fax" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Email" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Pays" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>ReferenceMatrices</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ReferenceMatrices">
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|S)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleFamille">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleEspece" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceMethodes">
		<xsd:annotation>
			<xsd:documentation>ReferenceMethodes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Type">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|S)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleFamille">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencePlanAnalyseContenu">
		<xsd:annotation>
			<xsd:documentation>Reference Plan Analyse Contenu</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LibelleMatrice">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleAnalyte">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleMethodeSpecifique">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Depistage">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Confirmation">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencePlanAnalyseEffectuer">
		<xsd:annotation>
			<xsd:documentation>Reference Plan Analyse Effectuer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SiglePlanAnalyse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="EditionRapports" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(A|T|P)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleDestinataireEchantillon" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LigneBudgetaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PlanComplet" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateModification" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1900-01-01T00:00:00"/>
						<xsd:maxInclusive value="2150-01-01T00:00:00"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateDebutExecution" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2150-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateFinExecution" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:date">
						<xsd:minInclusive value="1900-01-01"/>
						<xsd:maxInclusive value="2150-01-01"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencePlanAnalyseInterpretation">
		<xsd:annotation>
			<xsd:documentation>Reference Plan Analyse Interpretation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LibelleMatrice" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleAnalyte">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleMethodeSpecifique" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Depistage">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Confirmation">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(O|N)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NombreEchantillonParLot" type="xsd:integer"/>
			<xsd:element name="SigleUnite" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SeuilConfirmationQuantitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleSeuilConfirmationQualitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleSeuil2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Seuil2Qualitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Seuil2Quantitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LibelleSeuil1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Seuil1Quantitatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleInterpretationInferieurSeuil1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleInterpretationEntreSeuils" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SigleInterpretationSuperieurSeuil2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NombreToleresSeuil2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NombreToleresSuperieursSeuil2" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencePlanAnalyse">
		<xsd:annotation>
			<xsd:documentation>Reference Plan Analyse</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Contact" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TexteReference" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NiveauInterpretation" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
						<xsd:pattern value="(AE|AL|PE|PL)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DateModification">
				<xsd:simpleType>
					<xsd:restriction base="xsd:dateTime">
						<xsd:minInclusive value="1900-01-01T00:00:00"/>
						<xsd:maxInclusive value="2150-01-01T00:00:00"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferencePlansAnalyseContexte">
		<xsd:annotation>
			<xsd:documentation>Reference Plans Analyse Contexte</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SiglePlanAnalyse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceTypesIdentifiants">
		<xsd:annotation>
			<xsd:documentation>Reference Types Identifiants</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceUnites">
		<xsd:annotation>
			<xsd:documentation>ReferenceUnites</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceValeursInterpretation">
		<xsd:annotation>
			<xsd:documentation>Reference Valeurs Interpretation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceValeursPossiblesResultat">
		<xsd:annotation>
			<xsd:documentation>Reference Valeurs Possibles Resultat</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Cle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sigle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="65"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Statut">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="(G|V)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CleRemplacement" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Commentaire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Referentiel Prescripteur</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="ReferentielPrescripteur">
		<xsd:sequence>
			<xsd:element name="MessageParametres" type="MessageParametres"/>
			<xsd:element name="Emetteur" type="DialoguePartenaire"/>
			<xsd:element name="ReferencePlanAnalyseType" type="ReferencePlanAnalyseType2" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceContextesType" type="ReferenceContextesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReferenceTypesIdentifiants" type="ReferenceTypesIdentifiants" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ReferentielPrescripteur">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ReferentielPrescripteur">
					<xsd:attribute name="schemavalidation" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ReferencePlanAnalyseType2">
		<xsd:sequence>
			<xsd:element name="ReferencePlanAnalyse" type="ReferencePlanAnalyse"/>
			<xsd:sequence>
				<xsd:element name="ReferenceCommemoratifsAnalyse" type="ReferenceCommemoratifsATransmettre" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ReferencePlanAnalyseContenu" type="ReferencePlanAnalyseContenu" maxOccurs="unbounded"/>
				<xsd:element name="ReferencePlanAnalyseInterpretation" type="ReferencePlanAnalyseInterpretation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceContextesType">
		<xsd:sequence>
			<xsd:element name="ReferenceContextesIntervention" type="ReferenceContextesIntervention"/>
			<xsd:sequence>
				<xsd:element name="ReferenceCommemoratifsInterventionContexte" type="ReferenceCommemoratifsATransmettre" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ReferenceCommemoratifsEchantillonContexte" type="ReferenceCommemoratifsATransmettre" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ReferencePlansAnalyseContexte" type="ReferencePlansAnalyseContexte" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Resultats</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Resultats">
		<xsd:sequence>
			<xsd:element name="MessageParametres" type="MessageParametres"/>
			<xsd:element name="Emetteur" type="DialoguePartenaire"/>
			<xsd:element name="Destinataire" type="DialoguePartenaire"/>
			<xsd:sequence>
				<xsd:element name="DialogueResultatType" type="DialogueResultatType"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueResultatType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="DialogueRetourInterventionSansDAP" type="DialogueRetourInterventionSansDAP"/>
				<xsd:element name="DialogueRetourInterventionAvecDAP" type="DialogueRetourInterventionAvecDAP"/>
			</xsd:choice>
			<xsd:sequence>
				<xsd:element name="DialogueCommemoratif" type="DialogueCommemoratif" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialogueEchantillonCommemoratifType" type="DialogueEchantillonCommemoratifType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialoguePlanAnalyseType" type="DialoguePlanAnalyseType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialogueAnalyseType" type="DialogueAnalyseType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialoguePlanAnalyseType">
		<xsd:sequence>
			<xsd:element name="ReferencePlanAnalyseEffectuer" type="ReferencePlanAnalyseEffectuer"/>
			<xsd:sequence>
				<xsd:element name="DialogueAnalyseType" type="DialogueAnalyseType2" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialogueResultatEchantillonPlan" type="DialogueResultatEchantillonPlan" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialogueResultatLotPlan" type="DialogueResultatLotPlan" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DialogueAnalyseType2">
		<xsd:sequence>
			<xsd:element name="DialogueAnalyse" type="DialogueAnalyse"/>
			<xsd:sequence>
				<xsd:element name="DialogueCommemoratif" type="DialogueCommemoratif" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialogueResultatEchantillonAnalyse" type="DialogueResultatEchantillonAnalyse" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="DialogueResultatLotAnalyse" type="DialogueResultatLotAnalyse" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Resultats">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Resultats">
					<xsd:attribute name="schemavalidation" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
